/* Basic setup */
html{
    font-size: 75%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
}

body{
    font-family: 'Bookman Old Style', sans-serif;
    text-rendering: optimizeLegibility;
}

.col {
	display: block;
	float:left;
	margin: 10% 0% 10% 10%;
}




/* reusable */
.row{
    max-width: 114rem;
    margin:0 auto;
    
}

/* header */
header{
    background: #006680;
    text-align: center;
    position: relative;
}
header .head-nav li{
    display: inline-block;
    margin-left: 22rem;
}
header .head-nav li .web{
    margin-right: -9rem;
    margin-left: -25rem;
    color:white;
    font-weight: lighter;
    font-size: 1.5rem;
}
header .head-nav li .sign{
    margin-right: -5rem;
}
header .head-nav li .contact{
    margin-left: -20rem;
    font-size: 2rem;
}
header .head-nav li .phonegif{
    background: #f9ad81;
    margin-left: -11rem;
    position: relative;
    bottom: .5rem;
    
}

header .head-nav li .phonegif .num{
    position: relative;
    bottom: 2rem;
    font-weight: bolder;
}

header .head-nav li .web,
header .head-nav li .sign,
header .head-nav li .contact{
    position: relative;
    bottom: 2.0rem;
}


.logo {
    height: 5rem;
    width: auto;
    margin-top: 1rem;
    margin-left: -25rem;
    float: left;
}

/* main-nav */
.main-nav li{
    display: inline-block;
    margin-top: 1.5rem;
    margin-left: 0rem;
    text-align: center;
    font-size: 1.3rem;
    position: -webkit-sticky;
    position: sticky;
}

.main-nav li a:link,
.main-nav li a:visited
{
   color: #fefefe ;
}
.main-nav li a:hover,
.main-nav li a:active
{
   color: #c2b257 ;
}

/* section extension plugin */
.text{
    font-size: 5rem;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #4d4c4c;
}

section{
    padding: 8rem 0;
    overflow: hidden;
}
.p-e{
    position: relative;
    left: 12rem;

}
.head-img{
    text-align: center;
    font-size: 3rem;
    font-weight: lighter;
}
.foot-img{
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
}

.view{
    background: rgb(207, 62, 4);
    position: relative;
    left: 2rem;
    font-size: 3rem;
    
}
