/* Basic setup */
html{
    font-size: 75%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
}

body{
    font-family: 'Bookman Old Style', sans-serif;
    text-rendering: optimizeLegibility;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
    height: 0%;
    visibility: hidden;
}

section{
    padding: 8rem 0;
    
}





/* reusable */
.row{
    max-width: 114rem;
    margin:0 auto;
    
}


/* header */
header{
    background: #006680;
    text-align: center;
    position: relative;
}
header .head-nav li{
    display: inline-block;
    margin-left: 22rem;
}
header .head-nav li .web{
    margin-right: -9rem;
    margin-left: -25rem;
    color:white;
    font-weight: lighter;
    font-size: 1.5rem;
}
header .head-nav li .sign{
    margin-right: -5rem;
}
header .head-nav li .contact{
    margin-left: -20rem;
    font-size: 2rem;
}
header .head-nav li .phonegif{
    background: #f9ad81;
    margin-left: -11rem;
    position: relative;
    bottom: .5rem;
    
}

header .head-nav li .phonegif .num{
    position: relative;
    bottom: 2rem;
    font-weight: bolder;
}

header .head-nav li .web,
header .head-nav li .sign,
header .head-nav li .contact{
    position: relative;
    bottom: 2.0rem;
}


.logo {
    height: 5rem;
    width: auto;
    margin-top: 1rem;
    margin-left: -25rem;
    float: left;
}

/* main-nav */
.main-nav li{
    display: inline-block;
    margin-top: 1.5rem;
    margin-left: 0rem;
    text-align: center;
    font-size: 1.3rem;  
}


.main-nav li a:link,
.main-nav li a:visited
{
   color: #fefefe ;
}
.main-nav li a:hover,
.main-nav li a:active
{
   color: #c2b257 ;
}

/* section extension plugin */
.extension{
    background-color: rgb(243, 237, 237);
    text-align: center;
    height: 75rem;
}
.text{
    font-size: 2rem;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #4d4c4c;
}
.p-e{
    position: relative;
    left: 12rem;

}
.head-img{
    text-align: center;
    font-size: 3rem;
    font-weight: lighter;
}
.foot-img{
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
}

.view{
    background: rgb(207, 62, 4);
    position: relative;
    left: 2rem;
    font-size: 3rem;
    
}

/* social Section */
.social{
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.text2{
    font-size: 1.5rem;
    position: absolute;
    top: 113%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #4d4c4c;
}
.pera{
    text-align: center; 
    width: 500px;
    font-size: 1.5rem;
}

.p-e1{
    position: relative;
    left: 1rem;

}

.seo{ 
    position: relative;
    font-size: 3rem; 
    color: white;
    margin-top: 0%;
    margin-bottom: 0%;
}

button{

    height: 10rem;
    background: rgb(207, 62, 4);
    position: relative;
    left: -25rem;
    font-size: 3rem; 
    transition-duration: 0.4s;
}

button:hover{
   background-color: #288eec ;
}



